@tailwind base;
@tailwind components;
@tailwind utilities;

.bb{
    border: solid #005eff 3px;
}

@keyframes scan-line {
  0% {
    top: 10%;
    opacity: 0.1;
  }
  10% {
    opacity: 1;
  }
  50% {
    top: 70%;
    opacity: 1;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}

.animate-scan-line {
  animation: scan-line 1s ease-in-out infinite;
}



/* Emoji rain  style  */

.emoji-rain-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
}

.emoji {
  position: absolute;
font-size: 3rem;
  animation: fall 3s linear  infinite;
}

@keyframes fall {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}
